<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script>
        function login(){
            var username = document.getElementById("username"),
                password = document.getElementById("psd");
            {%for user in data%}
                if("{{user[1]}}"==username.value && "{{user[2]}}"==password.value)
                    location.href={{url_for('modify')}}
                else{
                    alert("用户名或密码不正确，请重新输入");
                    username.value="";
                    password.value="";
                }
            {%endfor%}
        }
    </script>
</head>
<body>
    <fieldset style="width:300px;margin:0px auto">
        <legend><b>登陆</b></legend>
        <form action="">
            <label><b>用户名</b></label><br/>
            <input id="username" type="text" style="width:300"><br/>
            <label><b>密码</b></label><br/>
            <input id="psd" type="password" style="width:300"><br/><br/>
            <center><input type="button" value="登陆" style="width:100;height:50" onclick="login()"></center>
        </form>
    </fieldset>
</body>
</html>