<HTML>
<head>
	<title>welcome my site</title>
	<meta charset=utf-8>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<script>
        function gotologin(){
        	location.href={{url_for('login')}}
        }
    </script>
</head>
<body>
	<center><h2>宿舍排名</h2>	</center>
	<div class="domiul">
	<table align="center" border="1" cellpadding="20">
		<tr align="center">
			<th class="tit">排名</th>
			<th class="tit">宿舍</th>
			<th class="tit">票数</th>
		</tr>
{%for domi in data%}
		<tr align="center">
			<td>{{loop.index}}</td>
			<td>{{domi[1]}}</td>
			<td>{{domi[2]}}</td>
		</tr>
{%endfor%}
	</table>
	</div>
	<br/>
	<form action="">
		<center><input type="button" value="管理员登陆" onclick="gotologin()"></center>
	</form>
</body>
</HTML>
