<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='homepage.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".sortselect").change(function(){$("#sortform").submit()});
            $(".toolbar").slideDown(1000);
            $(".docbox").fadeIn(1000);
        });
    </script>
</head>
<body class="context">
    <!--welcome image-->
    <div class="img">
        <img class="logoimg" src="{{ url_for('static',filename='./images/img')}}/logo.png" alt="logo" width="120px" height="120px"/>
            <p><b>安徽理工大学文明宿舍评比</b></p>
        <img class="bgimg" src="{{url_for('static',filename='./images/img')}}/bgimg.jpg" alt="bgimage" width="100%" height="350px"/>
     </div>

    <!--tool bar-->
    <div class="toolbar">
        <!--search bar-->
        <table class="tooltable" width="100%">
            <tr align="center">
                <td>
                    查找你的寝室：
                    <form action="{{ url_for('homepage') }}" method="post">
                        <input type="text" name="searchdom" placeholder="例如C3C610" required/>
                        <input type="submit" placeholder="查询"/>
                    </form>
                </td>
                {% if isTextSearch == False %}
                <td>
                    排序方式：
                    <form id="sortform" action="{{ url_for('homepage') }}" method="post">
                        <select name="sortway" class="sortselect">
                            {% if sortway == 1 %}
                                <option value="byscore">按照分数</option>
                                <option value="byname">按照寝室名称</option>
                            {% endif %}
                            {% if sortway == 2 %}
                                <option value="byname">按照寝室名称</option>
                                <option value="byscore">按照分数</option>
                            {% endif %}
                        </select>
                    </form>
                </td>
                {% endif %}
                {% if isTextSearch == True %}
                <td>
                    <a class="retHomepage" href="{{ url_for('homepage') }}">点击这里查看所有寝室</a>
                </td>
                {% endif %}
            </tr>
        </table>
    </div>

    <!--the table of score of domits-->

    {% macro addCell(index) %}
        <div class="docrank">
            {% if sortway != 2 %}
            {% if rank != None %}
                排名:{{ rank }}
            {% else %}
                排名:{{ index+1 }}
            {% endif %}
            {% endif %}
        </div>
            <ul class="docul" align="center">
                <li class="docli"><p>寝室号:</p>{{ infoes[index][0] }}
                <li class="scoreli"><p><b>荣誉次数:</b></p><p class="scorep">{{ infoes[index][1] }}</p></li>
            </ul>
        </div>
    {% endmacro %}

    {# a macro to add colume #}
    {% macro addColumn(domindex,i) %}
        {% set index = domindex*3+i %}
        <td>
        {% if index <3 and isTextSearch==False %}
        <a id="domhref" href="{{ url_for('displayDom',dominame = infoes[index][0] ) }}">
        {% endif %}

        {% if index == 0 and sortway==1 and isTextSearch==False %}
        <div class="docbox" style="background-color:#FFB90F">
        {% elif index == 1 and sortway==1 and isTextSearch==False %}
        <div class="docbox" style="background-color:Silver">
        {% elif index == 2 and sortway==1 and isTextSearch==False %}
        <div class="docbox" style="background-color:#4876FF">
        {% else %}
        <div class="docbox">
        {% endif %}
        {{ addCell(index) }}
        {% if index <3 and isTextSearch==False %}
        </a>
        {% endif %}
        </td>
    {% endmacro %}

    {# add context in html #}
    <table class="domtable">
    {% if isTextSearch==False %}
    {% set remainIndex=(infoes|count)%3 +1 %}
    {% for domindex in range(infoes|count//3) %}
        <tr align="center">

                {{ addColumn(domindex,0) }}
                {{ addColumn(domindex,1) }}
                {{ addColumn(domindex,2) }}
        </tr>
    {% endfor %}
    {% else %}
        <tr align="center">
                {{ addColumn(0,0) }}
        </tr>
    {% endif %}

    </table>
</body>
</html>
