<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='homepage.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".sortselect").change(function(){$("#sortform").submit()});
            $(".toolbar").slideDown(1000);
            $(".docbox").fadeIn(1000);
        });
    </script>
</head>
<body class="context">
    <!--welcome image-->
    <div class="img">
        <img class="logoimg" src="{{ url_for('static',filename='./images/img')}}/logo.jpeg" alt="logo" width="120px" height="120px"/>
            <p><b>安徽理工大学学生宿舍比分</b></p>
        <img class="bgimg" src="{{url_for('static',filename='./images/img')}}/bgimg.jpg" alt="bgimage" width="100%" height="350px"/>
     </div>
    <!--tool bar-->
    <div class="toolbar">
        <!--search bar-->
        <table class="tooltable" width="100%">
            <tr align="center">
                <td>
                    查找你的寝室：
                    <form action="{{ url_for('homepage') }}" method="post">
                        <input type="text" name="searchdom" placeholder="例如C3C610" required/>
                        <input type="submit" placeholder="查询"/>
                    </form>
                    </td>
                <td>
                    排序方式：
                    <form id="sortform" action="{{ url_for('homepage') }}" method="post">
                        <select name="sortway" class="sortselect">
                            {% if sortway == 1 %}
                                <option value="byscore">按照分数</option>
                                <option value="byname">按照寝室名称</option>
                            {% endif %}
                            {% if sortway == 2 %}
                                <option value="byname">按照寝室名称</option>
                                <option value="byscore">按照分数</option>
                            {% endif %}
                        </select>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <!--the table of score of domits-->
        {% for dom in infoes %}
            <div class="docbox">
                <ul class="docul" align="center">
                    <li class="docli"><p>寝室号:</p><a href="{{ url_for('displayDom',dominame=dom[0]) }}">{{ dom[0] }}</a></li>
                    <li class="scoreli"><p>票数:</p><p class="scorep">{{ dom[1] }}</p></li>
                </ul>
            </div>
        {% endfor %}
</body>
</html>