.toolbar{
    text-indent:10px;
    width:100%;
    height:45px;
    background-color:DeepSkyBlue;
    border-radius:10px;
    box-shadow:0px 0px 30px DarkGray;
    position:sticky;
    top:0;
    opacity:1;
    z-index:1;
    display:none;
}

.toolbar *{
    display:inline;
}

.tooltable{
    height:100%;
    cellspacing:200px;
}

.tooltable tr td{
    border-right-style:solid;
    border-right-color:yellow;
}

.toolbar .tooltable .retHomepage{
    border-style:solid;
    border-width:1px;
    text-decoration:none;
    border-radius:5px;
    background-color:Sliver;
}

.context{
    background-color:WhiteSmoke;
}

.img{
    position:relative;
    top:0;
    left:0;
}

.img .bgimg{
    border-style:none;
    left:0;
    top:0;
}

.img p{
    position:absolute;
    z-index:1;
    top:50%;
    width:100%;
    text-align:center;
    font-size:50px;
    color:Salmon;
}

.img .logoimg{
    position:absolute;
    z-index:1;
    top:10%;
    left:45%;
}

.docbox{
    border-style:solid;
    border-width:1px;
    border-radius:15px;
    box-shadow:0px 0px 30px DarkGray;
    width:70%;
    margin:0 auto;
    margin-top:25px;
    background-color:#79CDCD;
    height:50px;
    display:none;
    opacity:0.5;
}

.docbox:hover{
    opacity:1;
}

.docbox .docul{
    list-style-type:none;
    display:inline;
}

.docbox .docul .docli{
    display:inline;
    border-right-style:solid;
    border-right-width:5px;
    border-right-color:#ff6633;
    width:50%;
}

.docbox .docul .scoreli{
    display:inline;
    width:50%;
}

.docrank{
    text-color:#EDEDED;
}

.docli a:hove{
    text-decoration:none;
}

.docli a:link{
    text-decoration:none;
}

.docli a:visited{
    text-decoration:none;
}

.docli,.scoreli{
    height:50px;
    margin:0 auto;
    text-align:center;
}

.docli p{
    color:#006400;
    display:inline;
}

.scoreli p{
    color:#0000CD;
    display:inline;
}

.scorep{
    color:#ff0080;
    display:inline;
}

#domhref{
    text-decoration:none;
}

.domtable{
	margin:0 auto;
}
