body {
	/*background-color:grey;*/
	background-image:url('src/background.jpg');
	background-repeat:repeat-x repeat-y;
}

.domiul {
    margin:auto;
}

.domiul .tit{
    color:red;
}

#b1{
    display:block;
    margin:0 auto;
}